dataset/
__pycache__/
/server/models/bert_base_model.h5
/server/models/pretrained_BERT/
.ipynb_checkpoints/
personality_env/
/server/twitter_data/
geckodriver.log
fbscraper.py
models/
/server/.env
.DS_Store
