<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Social BERTerfly</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets2/vendors/iconfonts/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets2/vendors/iconfonts/ionicons/dist/css/ionicons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets2/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets2/vendors/css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets2/vendors/css/vendor.bundle.addons.css')}}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets2/css/shared/style.css')}}">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets2/css/demo_1/style.css')}}">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename= 'assets2/images/favicon.ico')}}" />
    <script src = "/static/results.js"></script>
    <script src = "/static/results2.js"></script>
  </head>
  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="text-wrapper">
                  <p class="profile-name"><h3 id="user_name"></h3> </p>
                </div>
              </a>
            </li>
            <li class="nav-item nav-category"></li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/tweet_pred">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li> 
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <!-- Page Title Header Starts-->
            <div class="row page-title-header">
              <div class="col-12">
                <div class="page-header">
                  <h4 class="page-title">Dashboard</h4>
                  <div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">
                    <ul class="quick-links ml-auto">
                      <!--<li><a href="#">Settings</a></li>-->
                      <li><a href="http://127.0.0.1:5000/">Log Out</a></li>
                      <!--<li><a href="#">Log Out</a></li>-->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Page Title Header Ends-->
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-8 col-md-4">
                        <div class="d-flex">
                          <div class="wrapper">
                            <h1 class="mb-0 font-weight-semibold text-primary">Your Personality Type :</h1>
                            <!--<h5 class="mb-0 font-weight-medium text-primary">____%</h5>-->
                            <!--<p class="mb-0 text-muted">+14.00(+0.50%)</p>-->
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <!--<canvas height="50" width="100" id="stats-line-graph-1"></canvas>-->
                            <h1 class="mb-0 font-weight-semibold" id="per_type"></h1> 
                            <!--<h1 class="mb-0 font-weight-semibold" id="per_name"></h1> -->
                          </div>
                          <div class="wrapper my-auto ml-auto ml-lg-4">
                            <h1 class="mb-0 font-weight-semibold" id="per_name"></h1> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="mb-0 font-weight-semibold">Personality Traits</h3>
                          <div class="d-flex mt-3 py-2 border-bottom">
                            <div class="wrapper ml-2">
                              <h5 class="mb-n1 font-weight-semibold" id="trait1"></h5>
                            </div>
                          </div>
                          <div class="d-flex py-2 border-bottom">
                            <div class="wrapper ml-2">
                              <h5 class="mb-n1 font-weight-semibold" id="trait2"></h5>
                            </div>
                          </div>
                          <div class="d-flex py-2 border-bottom">
                            <div class="wrapper ml-2">
                              <h5 class="mb-n1 font-weight-semibold" id="trait3"></h5>
                            </div>
                          </div>
                          <div class="d-flex pt-2">
                            <div class="wrapper ml-2">
                              <h5 class="mb-n1 font-weight-semibold" id="trait4"></h5>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="mb-0 font-weight-semibold">Careers</h3>
                            <div class="d-flex mt-3 py-2 border-bottom">
                              <img class="img-sm rounded-circle" src="static/assets2/images/career/pic-1.png" alt="profile image">
                              <div class="wrapper ml-2">
                                <h5 class="mb-n1 font-weight-semibold" id ="career1"></h5>
                              </div>
                            </div>
                            <div class="d-flex py-2 border-bottom">
                              <img class="img-sm rounded-circle" src="static/assets2/images/career/pic-2.png" alt="profile image">
                              <div class="wrapper ml-2">
                                <h5 class="mb-n1 font-weight-semibold" id ="career2"></h5>
                              </div>
                            </div>
                            <div class="d-flex py-2 border-bottom">
                              <img class="img-sm rounded-circle" src="static/assets2/images/career/pic-7.png" alt="profile image">
                              <div class="wrapper ml-2">
                                <h5 class="mb-n1 font-weight-semibold" id ="career3"></h5>
                              </div>
                            </div>
                            <div class="d-flex pt-2">
                              <img class="img-sm rounded-circle" src="static/assets2/images/career/pic-6.png" alt="profile image">
                              <div class="wrapper ml-2">
                                <h5 class="mb-n1 font-weight-semibold" id ="career4"></h5>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body d-flex flex-column">
                        <div class="wrapper">
                          <h3 class="mb-0 font-weight-semibold">Personality Mapping</h3>
                          <div class="mb-4" id="net-profit-legend"></div>
                        </div>
                        <canvas class="my-auto mx-auto" height="250" id="net-profit"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h3 class="mb-0 font-weight-semibold">Eminent Personalities</h3>
                        <div class="d-flex mt-3 py-2 border-bottom">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id="people1"></h5>
                          </div>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id="people2"></h5>
                          </div>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id="people3"></h5>
                          </div>
                        </div>
                        <div class="d-flex pt-2">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id="people4"></h5>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h3 class="mb-0 font-weight-semibold">Personality type of people that you follow</h3>
                        <div class="d-flex mt-3 py-2 border-bottom">
                          <img class="img-sm rounded-circle" src="static/assets2/images/faces-clipart/pic-1.png" alt="profile image">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id ="follower1"></h5>
                          </div>
                          <h5 class="text-muted ml-auto" id="followername1"></h5>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                          <img class="img-sm rounded-circle" src="static/assets2/images/faces-clipart/pic-2.png" alt="profile image">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id ="follower2"></h5>
                          </div>
                          <h5 class="text-muted ml-auto" id="followername2"></h5>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                          <img class="img-sm rounded-circle" src="static/assets2/images/faces-clipart/pic-3.png" alt="profile image">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id ="follower3"></h5>
                          </div>
                          <h5 class="text-muted ml-auto" id="followername3"></h5>
                        </div>
                        <div class="d-flex py-2 border-bottom">
                          <img class="img-sm rounded-circle" src="static/assets2/images/faces-clipart/pic-4.png" alt="profile image">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id ="follower4"></h5>
                          </div>
                          <h5 class="text-muted ml-auto" id="followername4"></h5>
                        </div>
                        <div class="d-flex pt-2">
                          <img class="img-sm rounded-circle" src="static/assets2/images/faces-clipart/pic-2.png" alt="profile image">
                          <div class="wrapper ml-2">
                            <h5 class="mb-n1 font-weight-semibold" id ="follower5"></h5>
                          </div>
                          <h5 class="text-muted ml-auto" id="followername5"></h5>
                        </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script>
      document.getElementById("per_type").innerHTML = personality_data["type"];
      document.getElementById("trait1").innerHTML = personality_data["traits"].split(", ")[0];
      document.getElementById("trait2").innerHTML = personality_data["traits"].split(", ")[1];
      document.getElementById("trait3").innerHTML = personality_data["traits"].split(", ")[2];
      document.getElementById("trait4").innerHTML = personality_data["traits"].split(", ")[3];
      document.getElementById("people1").innerHTML = personality_data["people"].split(", ")[0];
      document.getElementById("people2").innerHTML = personality_data["people"].split(", ")[1];
      document.getElementById("people3").innerHTML = personality_data["people"].split(", ")[2];
      document.getElementById("people4").innerHTML = personality_data["people"].split(", ")[3];
      document.getElementById("career1").innerHTML = personality_data["career"].split(", ")[0];
      document.getElementById("career2").innerHTML = personality_data["career"].split(", ")[1];
      document.getElementById("career3").innerHTML = personality_data["career"].split(", ")[2];
      document.getElementById("career4").innerHTML = personality_data["career"].split(", ")[3];
      document.getElementById("user_name").innerHTML = personality_data["name"]
      document.getElementById("follower1").innerHTML = follower_ids["0"]; 
      document.getElementById("follower2").innerHTML = follower_ids["1"];  
      document.getElementById("follower3").innerHTML = follower_ids["2"];  
      document.getElementById("follower4").innerHTML = follower_ids["3"]; 
      document.getElementById("follower5").innerHTML = follower_ids["4"]; 
      document.getElementById("followername1").innerHTML = follower_data["0"];
      document.getElementById("followername2").innerHTML = follower_data["1"];
      document.getElementById("followername3").innerHTML = follower_data["2"];
      document.getElementById("followername4").innerHTML = follower_data["3"];
      document.getElementById("followername5").innerHTML = follower_data["4"];
      document.getElementById("per_name").innerHTML = personality_data["per_name"];
    </script>
    <script src="{{ url_for('static', filename= 'assets2/vendors/js/vendor.bundle.base.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets2/vendors/js/vendor.bundle.addons.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{{ url_for('static', filename= 'assets2/js/shared/off-canvas.js')}}"></script>
    <script src="{{ url_for('static', filename= 'assets2/js/shared/misc.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{{ url_for('static', filename= 'assets2/js/demo_1/dashboard.js')}}"></script>
    <!-- End custom js for this page-->
  </body>
</html>